    <div id="container">
        <div id="id01" class="modal">

            <form class="modal-content animate">


                <div class="container">
                    <span class="asd">Valami</span>
                    <br>
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Bezár</button>

                </div>
            </form>
        </div>
        <div id="body" class="width">

            <section id="content" class="two-column with-right-sidebar">

                <article>

                    <h2>Hálózat</h2>

                    <p>Még nincsennek bejegyzések, de dolgozunk rajta!</p>
                    <p><img src="~/Content/images/gif.gif"></p>



                </article>

        </div>
        <aside class="sidebar big-sidebar right-sidebar">

            <ul>
                <li>
                    <h4>Házi feladat</h4>
                    <ul class="blocklist">
                        <li>Most nincs házi feladat😉</li>
                    </ul>
                </li>





                <li>
                    <h4>Tanár</h4>
                    <ul class="newslist">
                        <li>
                            <p>Bakos Richárd</p>
                        </li>
                    </ul>
                </li>


        </aside>
        <div class="clear"></div>
    </div>
    <script>
        var modal = document.getElementById('id01');

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
