<div id="body" class="width">
    <section id="content" class="two-column with-right-sidebar">

        <article>
            <h2>Iszgy</h2>
            <p>Még nincsennek bejegyzések, de dolgozunk rajta!</p>
            <p><img src="~/Content/images/gif.gif"></p>
        </article>
        </section>
</div>
<aside class="sidebar big-sidebar right-sidebar">

    <h4>Házi feladat</h4>
    <ul class="blocklist">
        <li>Most nincs házi feladat😉</li>
    </ul>
    <h4>Tanár</h4>
    <ul class="newslist">
        <li>
            <p>Bakos Richárd</p>
        </li>
    </ul>
</aside>
<div class="clear"></div>
<script>
    var modal = document.getElementById('id01');

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>