    <div id="id01" class="modal">
        <form class="modal-content animate">
            <div class="container">
                <span class="asd">Valami</span>
                <br>
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Bezár</button>
            </div>
        </form>
    </div>