<!doctype html>
<html lang="hu">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Programozás</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="images/logo1.png" />
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="css/logon.css" type="text/css" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>
    <div class="navbar">
        <a href="index.html" title="Kijelentkezés"><i class="fa icon">&#xf08b;</i></a>
        <a href="#" title="Kérdés"><i class="fa icon" onclick="document.getElementById('id01').style.display='block'">&#xf059;</i></a>
    </div>
    <div id="container">

        <header>
            <div class="width">
                <h1><a href="logon.html">GIT</a></h1>

                <nav>

                    <ul>
                        <li class="start selected"><a href="#">Programozás</a></li>
                        <li><a href="html_css_js.html">HTML+CSS+JS</a></li>
                        <li><a href="linux.html">Linux</a></li>
                        <li><a href="iszgy.html">Iszgy</a></li>
                        <li class="end"><a href="halozat.html">Hálózat</a></li>
                    </ul>

                </nav>


            </div>
        </header>

        <div id="id01" class="modal">

            <form class="modal-content animate">


                <div class="container">
                    <span class="string">Ez egy olyan weboldal, ami segít neked a tanulásban ;)</span>
                    <br>
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Bezár</button>

                </div>
            </form>
        </div>
        <div id="body" class="width">


            <section id="content" class="two-column with-right-sidebar">

                <article>

                    <h2>Programozás</h2>

                    <p>Még nincsennek bejegyzések, de dolgozunk rajta!</p>
                    <p><img src="images/gif.gif"></p>

                </article>

        </div>
        <aside class="sidebar big-sidebar right-sidebar">

            <ul>
                <li>
                    <h4>Házi feladat</h4>
                    <ul class="blocklist">
                        <li>Most nincs házi feladat😉</li>
                    </ul>
                </li>





                <li>
                    <h4>Tanár</h4>
                    <ul class="newslist">
                        <li>
                            <p>Bakos Richárd</p>
                        </li>
                    </ul>
                </li>


        </aside>
        <div class="clear"></div>
    </div>
    <footer>
        <p><img src="images/logo.png"></p>
        <p class="footer-text">Minden jog fenntartva!</p>
    </footer>
    </div>
    <script>
var modal = document.getElementById('id01');

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
    </script>

</body>
</html>